<input type="checkbox" id="menu">
<label class="menu-icon" for="menu" onclick></label>

<nav role="off-canvas">
    <ul>
        <li>{{#link-to 'index'}}Ember{{/link-to}}</li>
        <li>{{#link-to 'index'}}Question<{{/link-to}}</li>
        <li>{{#link-to 'index'}}Answer{{/link-to}}</li>
        <li>{{#link-to 'index'}}Message{{/link-to}}</li>
        <li>{{#link-to 'index'}}Board{{/link-to}}</li>
    </ul>
</nav>

<div class="main-container">
    {{outlet}}
</div>
<footer>
  <p>
    site design by Sky Rousse
  </p>
</footer>
