<input type="checkbox" id="menu">
<label class="menu-icon" for="menu" onclick></label>

<nav role="off-canvas">
    <ul>
        <li><a href="#">Ember</a></li>
        <li><a href="#">Question</a></li>
        <li><a href="#">Answer</a></li>
        <li><a href="#">Message</a></li>
        <li><a href="#">Board</a></li>
    </ul>
</nav>

<div class="main-container">
    {{outlet}}
  <footer>
    <p>
      site design by Sky Rousse
    </p>
  </footer>
</div>
